# PYTHON
.venv/
**/__pycache__/
build/
dist/
*.spec

# IDE
.vscode/

# Secrets
shots/
bitácora.md
datasets/arff_index.xlsx
datasets/second/arff_index_2.xlsx
datasets/aggregated/experiments/research_compare.xlsx
